<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card" style="width: 100%;">
          <img src={{car.image}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong>Plate Number: </strong>{{car.platenumber}}</h5>
            <p class="card-text"><strong>Year:</strong>{{car.year}}</p>
            <p class="card-text"><strong>Model:</strong>{{car.make}}</p>
            <p class="card-text"><strong>Make: </strong>{{car.make}}</p>
            <button id="updatecar" class="btn btn-primary">Manage this car</button>
          </div>
        </div>
        <a href="/cars">â† Back To Cars</a>
      </div>
    </div>
  </div>
</div>
</div>