<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div id="car-card" class="card" style="width: 100%;">
          <img src={{car.image}} class="card-img-top" alt={{car.image}}>
          <div id="car-details" class="card-body">
            <h5 class="card-title"><strong>Plate Number: </strong>{{car.platenumber}}</h5>
            <p class="card-text"><strong>Year:</strong>{{car.year}}</p>
            <p class="card-text"><strong>Model:</strong>{{car.make}}</p>
            <p class="card-text"><strong>Make: </strong>{{car.make}}</p>
            <button type="submit" id="update-car" class="btn btn-primary">Manage this car</button>
          </div>
        </div>
        <a href="/cars">← Back To Cars</a>
      </div>
    </div>
  </div>
</div>
<div class="row hide-manage-car" id= "show-update">
  <div class="col-8 offset-2">
    <h2>Update Car</h2>
        <form class="clearfix mb-4" id="update-form">
          <div class="form-group">
            <label for="car-platenumber">Plate Number</label>
            <input value={{car.platenumber}} type="text" id="car-platenumber" class="form-control" aria-describedby="car-platenumber" placeholder="Plate Number">
          </div>
          <div class="form-group">
            <label for="car-make">Make</label>
            <input value={{car.make}} type="text" id="car-make" class="form-control" aria-describedby="car-make" placeholder="Make">
          </div>
          <div class="form-group">
            <label for="car-model">Model</label>
            <input value={{car.model}} type="text" id="car-model" class="form-control" aria-describedby="car-model" placeholder="Model">
          </div>
          <div class="form-group">
            <label for="car-color">Color</label>
            <input value={{car.color}} class="form-control" id="car-color" aria-describedby="car-color" placeholder="Color"></input>
          </div>
          <div class="form-group">
            <label for="car-year">Year</label>
            <input value={{car.year}} class="form-control" id="car-year" aria-describedby="car-year" placeholder="1976"></input>
          </div>
          <div class="form-group">
            <label for="car-image">Image</label>
            <input value={{car.image}} class="form-control" id="car-image" aria-describedby="car-image" placeholder="image URL"></input>
          </div>
         <div class="form-group">
            <input value={{car.isclean}} type="checkbox" name="is-clean" class="form-check-input" id="is-clean">
            <label class="form-check-label" for="is-clean">Car is clean</label>
          </div>
          <div class="form-group">
            <input value={{car.isavailable}} type="checkbox" name="is-available" class="form-check-input" id="is-available">
            <label class="form-check-label" for="is-available">Car is available</label>
          </div>
          <div class="form-group">
            <input value={{car.fix}} type="checkbox" name="fix-car" class="form-check-input" id="fix-car">
            <label class="form-check-label" for="fix-car">Car needs to be fixed</label>
          </div>
          <div class="form-group">
            <input value = {{car.tankempty}} type="checkbox" name="tank-empty" class="form-check-input" id="tank-empty">
            <label class="form-check-label" for="tank-empty">Tank is empty</label>
          </div>
          <button id="submit-update" class="btn btn-primary float-right">Submit</button>
        </form>
  </div>
</div>
</div>

<script src="/js/cars.js"></script>
{{!-- <script src="/js/cms.js"></script> --}}