<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>{{msg}}</h1>
      <br>
      <h3>Available Cars</h3>
      <div class="col offset-2" id="available-cars">
        {{#each cars}}
        <div class="card text-left car-card" style="width: 18rem;">
          <img src={{this.image}} class="card-img-top" alt="Car image">
          <div class="card-body">
            <a href="car/{{this.id}}">
              <h5 class="card-title">{{this.id}}.{{this.platenumber}}</h5>
            </a>
            <p class="card-body">{{this.make}}.{{this.model}}</p>
            <button class="btn btn-warning float-right edit" onclick="location.href = 'http://localhost:3000/car/{{this.id}}';" class="btn btn-danger">Update</button> </button>
            <button class="btn btn-danger float-right delete"><i class="icon-remove"></i>Delete</button>
          </div>
        </div>{{!end of car card}}
        {{/each}}
        <br class="clearfix">
      </div>
    </div>
  </div> {{!end of container}}
</div> {{!end of div - home}}

</div>
<script src="/js/cars.js"></script>