{{> nav/nav}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2" id="available-cars">
        <h1>{{msg}}</h1>
        <h3>Available Vehicles:</h3>
        <div class="car-list">
        {{#each cars}}
        <div class="card text-left car-card" id="car-card" data-id = {{this.id}}>
          <img src={{this.image}} class="card-img-top" alt="Car image">
          <div class="card-body">
            <a href="car/{{this.id}}">
              <h5 class="card-title">{{this.id}}.{{this.platenumber}}</h5>
            </a>
            <p class="card-body">{{this.make}}.{{this.model}}</p>
            <a href="car/{{this.id}}" class="btn btn-warning float-right edit">Edit</a>
            <button class="btn btn-danger float-right deletecar" id="car-delete" data-id={{this.id}}>Delete</button>
          </div>
        </div>{{!end of car card}}
        {{/each}}
        <br class="clearfix">
        </div> {{! end of car list}}
      </div>
    </div>
  </div>
</div> {{!end of container}}
</div> {{!end of div - home}}

</div>
<script src="/js/cars.js"></script>