<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Manage your Classic Cars</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="car-platenumber">Plate Number</label>
            <input type="text" id="car-platenumber" class="form-control" aria-describedby="car-platenumber"
              placeholder="Plate Number">
          </div>
          <div class="form-group">
            <label for="car-make">Make</label>
            <input type="text" id="car-make" class="form-control" aria-describedby="car-make" placeholder="Make">
          </div>
          <div class="form-group">
            <label for="car-model">Model</label>
            <input type="text" id="car-model" class="form-control" aria-describedby="car-model" placeholder="Model">
          </div>
          <div class="form-group">
            <label for="car-color">Color</label>
            <input class="form-control" id="car-color" aria-describedby="car-color" placeholder="Color"></input>
          </div>
          <div class="form-group">
            <label for="car-year">Year</label>
            <input class="form-control" id="car-year" aria-describedby="car-year" placeholder="1976"></input>
          </div>
          <div class="form-group">
            <label for="car-image">Image</label>
            <input class="form-control" id="car-image" aria-describedby="car-image" placeholder="image URL"></input>
          </div>
          <div class="form-group">
            <input type="checkbox" name= "is-clean" class="form-check-input" id="is-clean" value="1">
            <label class="form-check-label active" for="is-clean">Car is clean</label>
          </div>
          {{!-- <div class="form-group">
            <input type="checkbox" class="form-check-input" id="is-available" value="false">
            <label class="form-check-label active" for="is-available">Car is available</label>
          </div> --}}
          {{!-- <div class="form-group">
            <input type="checkbox" class="form-check-input" id="fix-car" value="false">
            <label class="form-check-label active" for="fix-car">Car needs to be fixed</label>
          </div> --}}
          <div class="form-group">
            <input type="checkbox" name ="is-available" "class="form-check-input" id="is-available" value="1">
            <label class="form-check-label" for="is-available">Car is available</label>
          </div>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" name="fix-car" id="fix-car" value="false">
            <label class="form-check-label" for="fix-car">Car needs to be fixed</label>
          </div>
          <div class="form-group">
            <input type="checkbox" class="form-check-input" name="tank-empty" id="tank-empty" value="false">
            <label class="form-check-label" for="tank-empty">Tank is empty</label>
          </div>
          <button id="submitcar" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3 class="clearfix">Available Cars</h3>
        <ul id="car-list" class="list-group">
          {{#each cars}}
          <li data-id={{this.id}} class="media my-4">
            <img src={{this.image}} class="car-thumb">
            <a class = "mt-0 mb-1 media-body" href="car/{{this.id}}">{{this.platenumber}}</a>
            <br>
            <p class= "media-body">{{this.year}}..{{this.model}}</p>
            <button class="btn btn-warning float-right update" onclick="location.href = 'http://localhost:3000/customer/{{this.dataValues.id}}/car';">Update</button> 
            <button class="btn btn-danger float-right delete"><i class="icon-remove"></i>Delete</button> 
            {{/each}}
        </ul>
      </div> {{! end of div on line 4 }}
    </div>
  </div>
</div>

<script src="/js/cars.js"></script>