<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Customer</h5>
          <p>
            <strong>ID</strong>: {{customerID}}</p>
          <p>
            <p>
              <strong>Customer Name</strong>: {{customerName}}</p>
            <p>
              <strong>Customer Date of Birth</strong>: {{customerDOB}}
            </p>
            <p>
              <strong>Customer Phone Number</strong>: {{customerNum}}
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>{{msg}}</h1>

      <form class="clearfix mb-4 updateForm">
        <div class="form-group">
          <input for="customer-ID" type="hidden" data-id={{customerID}}></input>
        </div>
        {{!-- Customer Name --}}
        <div class="form-group">
          <label for="customer-nameUpdate">Customer Name</label>
          <input type="text" id="customer-nameUpdate" class="form-control" aria-describedby="customer-nameUpdate"
            placeholder="Enter Customer Name">
        </div>
        {{!-- Customer DOB --}}
        <div class="form-group">
          <label for="customerDOB">Date of Birth (mm/dd/yyyy)</label>
          <input type="date" id="customerDOB" class="form-control" aria-describedby="customerDOB"
            placeholder="Enter Customer Date of Birth">
        </div>
        {{!-- Customer Phone Number --}}
        <div class="form-group">
          <label for="customerNumUpdate">Customer Phone Number</label>
          <input type="text" id="customerNumUpdate" class="form-control" aria-describedby="customerNumUpdate"
            placeholder="Enter Customer Phone number">
        </div>
        <button type="submit" id="updatesubmit" class="btn btn-primary float-right">Submit</button>
      </form>
    </div>
  </div>
</div>
